body { 
    padding-top: 65px; 
    background-color: #FAFAFA;
}

.link {
    padding: 5px;
}

h1 {
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}